<!DOCTYPE html>
<html>

<head>
    <script src="/scripts.js"></script>
    <title>Entry Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <!-- Latest Font-Awesome CDN -->
    <script src="https://kit.fontawesome.com/e46b171c27.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Loader, delete if not needed -->
    <div class="loader"></div>

    <div class="entry_page">
        <div class="gradient">
            <h3> ~ GrammaCheck is a platform that provides fast and accurate grammar correction for handwritten text
                using artificial intelligence.
                Ideal for students looking to refine their essays and for professors who want an easier way to review
                student work. ~</h3>
        </div>
        <div class="white">
            <img class="logo" src="/logo.png" alt="logo">
            <h2>"Grammar is the foundation of credibility
                ~let your words inspire trust !"</h2>
            <a class="btn" href="/users/login">Login</a>
            <a class="btn" href="/users/register">Signup</a>
        </div>
    </div>
    <!-- POPPER JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>