<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>History</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
<main class="history">
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <img id="logo" src="/images/logoGrammaCheck.png" alt="Logo" class="logo-image">
            </div>
        </header>

        <div class="branding">
            <a href="/home/upload" class="gramma-check">
                <img class="brand-logo" src="/images/grammacheck.png" alt="GRAMMA logo"/>
            </a>
            <img class="brand-arrow" src="/images/arrow.png" alt="Brand arrow"/>
        </div>

        <div class="user-info">
            <p class="user-greeting"
               th:text="'Hello, ' + ${session.user.getFirstName() + ' ' + session.user.getLastName()}">Hello, John
                Doe</p>
            <a href="/users/logout" class="logout-button" aria-label="Logout">
                <img class="logout-icon" src="/images/exit%201.png" alt="Logout"/>
            </a>
        </div>

        <h1 class="page-title">History</h1>

        <div class="filter-container">
            <form method="get" action="/history">
                <label for="from">From:</label>
                <input type="date" id="from" name="from" th:value="${from}">

                <label for="to">To:</label>
                <input type="date" id="to" name="to" th:value="${to}">

                <label for="nameSearch">Name:</label>
                <input type="text" id="nameSearch" name="nameSearch" placeholder="e.g Document"
                       th:value="${nameSearch}">

                <label for="flagged">
                    <input type="checkbox" id="flagged" name="flagged" th:checked="${flagged != null && flagged}"> Is
                    flagged
                </label>

                <button type="submit" class="filter-btn">Filter</button>
            </form>
        </div>

        <div class="list-container">
            <div class="list">
                <header class="list-header">
                    <div class="header-date">Date</div>
                    <div class="header-title">Title</div>
                    <div class="header-flagged">Flagged</div>
                </header>
                <div th:each="item: ${items}" class="list-item">
                    <div class="item-date"
                         th:text="${item.getDate().getMonth()} + ' ' + ${item.getDate().getDayOfMonth() + ' ' + item.getDate().getYear()}"></div>
                    <div class="item-title" th:text="${item.getName()}"></div>
                    <div class="item-flagged" th:text="${item.getFlagged()? '✅' : '❌'}"></div>

                    <div class="item-actions">
                        <a href="javascript:void(0);" onclick="buttonShow(event)">
                            <img class="dots-img" src="/images/dots.png" alt="More options">
                        </a>
                        <button class="action-button" style="display: none; background-color: #4a90e2">
                            <a th:href="@{/history/mark-as-flagged/{id}(id=${item.id})}"
                               th:text="${item.getFlagged() ? 'Unflag' : 'Flag'}">
                                Flag
                            </a>
                        </button>
                        <button class="action-button" style="display:none; background-color: #009990;">
                            <a th:href="@{/export/pdf/{id}(id=${item.id})}">Export</a>
                        </button>
                        <button class="action-button" style="display:none; background-color: #7F56D9;"
                                th:onclick="'openRenameDialog(' + ${item.id} + ')'">Edit
                        </button>
                        <button type="button" class="action-button" style="display:none; background-color: #D92D20;"
                                th:onclick="'openDeleteDialog(' + ${item.id} + ')'">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="deleteDialog" class="modal" style="display:none;">
    <div class="modal-content">
        <span id="closeDeleteDialog" class="close-modal">&times;</span>
        <h2>Delete this file</h2>
        <p>Are you sure you want to delete this file?
            <br>
            <small>This action cannot be undone.</small>
        </p>
        <button id="confirmDelete" class="confirm-button delete">Delete</button>
    </div>
</div>

<div id="renameDialog" class="modal" style="display:none;">
    <div class="modal-content">
        <span id="closeDialog" class="close-modal">&times;</span>
        <h2>Rename this file</h2>
        <input type="text" id="newFileName" name="newFileName" placeholder="e.g NewDocument1">
        <button id="confirmRename" class="confirm-button rename">Confirm</button>
    </div>
</div>

<footer class="footer">
    <p class="copyright">© 2025 - UIKTP15</p>
</footer>

<script>
    let currentDeleteId = null;
    let currentRenameId = null;

    function buttonShow(event) {
        const actionContainer = event.target.closest('.item-actions');
        const buttons = actionContainer.querySelectorAll('.action-button');
        const dotsImg = actionContainer.querySelector('.dots-img');

        buttons.forEach(button => {
            button.style.display = button.style.display === 'none' ? 'inline-block' : 'none';
        });

        if (buttons[0].style.display === 'inline-block') {
            dotsImg.style.display = 'none';
        } else {
            dotsImg.style.display = 'inline-block';
        }
    }

    function openDeleteDialog(id) {
        currentDeleteId = id;
        document.getElementById('deleteDialog').style.display = 'block';
    }

    function openRenameDialog(id) {
        currentRenameId = id;
        document.getElementById('renameDialog').style.display = 'block';
    }

    document.getElementById('closeDeleteDialog').addEventListener('click', function () {
        document.getElementById('deleteDialog').style.display = 'none';
        currentDeleteId = null;
    });

    document.getElementById('closeDialog').addEventListener('click', function () {
        document.getElementById('renameDialog').style.display = 'none';
        currentRenameId = null;
    });

    document.getElementById('confirmDelete').addEventListener('click', function () {
        if (currentDeleteId !== null) {
            fetch(`/history/delete/${currentDeleteId}`, {
                method: "DELETE"
            }).then(response => {
                document.getElementById('deleteDialog').style.display = 'none';
                window.location.href = '/history';
            })
        }
    });

    document.getElementById('confirmRename').addEventListener('click', function () {
        if (currentRenameId !== null) {
            const newName = document.getElementById('newFileName').value.trim();
            if (newName.length > 0) {
                fetch(`/history/update/${currentRenameId}?newName=${encodeURIComponent(newName)}`, {
                    method: "PUT"
                }).then(response => {
                    document.getElementById('renameDialog').style.display = 'none';
                    window.location.href = '/history';
                });
            } else {
                alert("Please enter a valid name.");
            }
        }
    });

    document.addEventListener('click', function (event) {
        if (!event.target.closest('.item-actions')) {
            document.querySelectorAll('.item-actions').forEach(container => {
                const buttons = container.querySelectorAll('.action-button');
                const dotsImg = container.querySelector('.dots-img');

                buttons.forEach(button => {
                    button.style.display = 'none';
                });

                dotsImg.style.display = 'inline-block';
            });
        }
    });
</script>
</body>
</html>