* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: "Inter", Sans-serif; */
    font-family: "Poppins", Helvetica;
}

img {
    max-width: 100%;
}

/* --------------------Entry Page-------------------------- */
.entry_page {
    display: flex;
    height: 100vh;
}

.gradient {
    width: 40%;
    padding: 20px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gradient h3 {
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-style: italic;
}

.white {
    text-align: center;
    width: 60%;
    padding: 20px;
    background-color: white;
}

.white h2 {
    white-space: pre-line;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.btn {
    margin-top: 60px;
    display: inline-block;
    background: linear-gradient(to right,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
    width: 150px;
    margin-right: 20px;
    /* border: linear-gradient(
          to right,
          rgba(225, 255, 187, 1) 48%,
          rgba(0, 153, 144, 1) 96%
        ); */
    border: unset;
    border-radius: 15px;
}

.btn:hover {
    background: linear-gradient(to right,
    rgba(200, 230, 160, 1) 48%,
    rgba(0, 130, 120, 1) 96%);
    transform: scale(1.05);
}

.white a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* ---------------------Login Page -------------------------- */
.login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    height: 100vh;
}

.login-page .div {
    background-color: #ffffff;
    width: 1440px;
    height: 960px;
    position: relative;
}

.login-page .overlap {
    position: absolute;
    width: 594px;
    height: 835px;
    top: 0;
    left: 423px;
}

.overlap .logo {
    margin-bottom: 20px;
    top: 0;
    left: 100px;
    width: 380px;
    position: absolute;
}

.login-page .rectangle-2 {
    position: absolute;
    width: 594px;
    height: 484px;
    top: 351px;
    left: 0;
    border-radius: 60px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
}

.login-page .content {
    display: flex;
    flex-direction: column;
    width: 426px;
    height: 380px;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 418px;
    left: 73px;
}

.login-page .copy {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.login-page .p {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.login-page .horizontal_line {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 1px;
    background-color: #1d164b;
}

.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 490px;
    left: 105px;
    width: 400px;
}

.form label {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 17px;
}

.form input,
#name,
#lastname {
    padding: 8px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 10px;
    background-color: unset;
}

.login-page .group-2 {
    position: absolute;
    width: 310px;
    height: 78px;
    top: 230px;
    left: 20px;
}

.login-page .login-btn {
    display: block;
    position: absolute;
    width: 210px;
    top: 13px;
    left: 70px;
    font-weight: 800;
    color: #234424;
    font-size: 33px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    background: linear-gradient(to right,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
    padding: 5px;
    border-radius: 30px;
    text-align: center;
}

.login-page .login-btn:hover {
    color: #1d3535;
    transform: scale(1.05);
}

.login-page .text-wrapper-5 {
    position: absolute;
    top: 364px;
    left: 171px;
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .don-t-have-an-wrapper {
    position: absolute;
    width: 349px;
    height: 23px;
    top: 867px;
    left: 570px;
}

.login-page .don-t-have-an {
    position: absolute;
    width: 347px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper-6 {
    color: #000000;
}

.login-page .text-wrapper-7 {
    color: #0f3cde;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.2s ease;
}

.login-page .text-wrapper-7:hover {
    color: #0b2fa8;
    font-weight: bold;
    transform: scale(1.1);
}

/* ----------------------Register Page------------------------- */
.login-page .rectangle-2-register {
    position: absolute;
    width: 594px;
    height: 550px;
    top: 351px;
    left: 0;
    border-radius: 60px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
}

.form-name {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page .signup-btn {
    display: block;
    position: absolute;
    width: 210px;
    top: 100px;
    left: 70px;
    font-weight: 800;
    color: #234424;
    font-size: 33px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    background: linear-gradient(to right,
    rgba(225, 255, 187, 1) 48%,
    rgba(0, 153, 144, 1) 96%);
    padding: 5px;
    border-radius: 30px;
    text-align: center;
}

.login-page .signup-btn:hover {
    color: #1d3535;
    transform: scale(1.05);
}

.login-page .have-an-wrapper {
    position: absolute;
    width: 349px;
    height: 23px;
    top: 930px;
    left: 570px;
    padding-bottom: 50px;
}

.login-page .have-an {
    position: absolute;
    width: 347px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

input[type="password"] {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
}

/* ----------------Home Page----------------------------- */
/* ----------------Preview Page-------------------------- */
/* ----------------History Page-------------------------- */
/* ----------------Loading Page-------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.error {
    color: red;
    align-content: center;
    display: block;
    font-size: larger;
    text-align: center;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
}

a {
    text-decoration: none;
}

.history {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.history .container {
    background-color: #fff;
    overflow: hidden;
    width: 1440px;
    height: 960px;
    position: relative;
}

.history .drag-drop-files {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    position: absolute;
    top: 362px;
    left: -931px;
}

.history .drag-drop-files-or {
    position: relative;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #454545;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
}

.history .text-wrapper {
    color: #454545;
}

.history .span {
    color: #333;
}

.history .text-wrapper-2 {
    color: #088586;
    text-decoration: underline;
}

.history .overlap {
    position: absolute;
    width: 1387px;
    height: 820px;
    top: 0;
    left: 3px;
}

.history .overlap-group {
    position: absolute;
    width: 1326px;
    height: 820px;
    top: 0;
    left: 0;
}

.history .group {
    position: absolute;
    width: 320px;
    height: 300px;
    top: 0;
    left: 40px;
}

.history .list_container {
    width: 1028px;
    height: 504px;
}

.history .list {
    margin-top: -50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 1028px;
    height: 250px;
    align-items: flex-start;
    position: absolute;
    top: 316px;
    left: 298px;
    overflow-y: auto;
}

.history .list li {
    margin: 20px 20px;
}

.history .list::-webkit-scrollbar {
    display: none;
}

.history .header {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 56px;
    width: 100%;
    background-color: transparent;
}

.history .text-wrapper-3,
.history .text-wrapper-5 {
    width: 70px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #828282;
    font-size: 16px;
    line-height: 24px;
}

.history .text-wrapper-4,
.history .text-wrapper-6 {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.history .text-wrapper-4 {
    width: 522px;
}

.history .text-wrapper-6 {
    width: 512px;
}

.history .more-horizontal-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.history .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 80px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
}

.history .div-3 {
    height: 28px;
}

.history .pill {
    width: 64px;
}

.history .div-2 {
    width: 84px;
}

.history .div-3 {
    width: 120px;
}

.history .more-horizontal-wrapper {
    flex: 1;
    height: 24px;
}

.history .more-horizontal-wrapper img {
    justify-content: flex-end;
}

.history .more-horizontal,
.history .img,
.history .more-horizontal-2,
.history .more-horizontal-3,
.history .more-horizontal-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
}

.history .more-horizontal {
    left: 194px;
}

.history .img {
    left: 298px;
}

.history .more-horizontal-2 {
    left: 242px;
}

.history .more-horizontal-3 {
    left: 382px;
}

.history .more-horizontal-4 {
    left: 278px;
}

.history .text-wrapper-7 {
    margin-left: 20px;
    position: absolute;
    height: 54px;
    top: 150px;
    left: 301px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000;
    font-size: 36px;
    line-height: 54px;
    white-space: nowrap;
}

.history .frame {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 100px;
    left: 1500px;
}

.history .text-wrapper-8 {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000;
    font-size: 20px;
    white-space: nowrap;
}

.history .exit {
    width: 76px;
    height: 76px;
    object-fit: cover;
}

.history .div-wrapper {
    position: absolute;
    width: 1458px;
    height: 165px;
    top: 860px;
    left: 0;
    background-color: var(--variable-collection-color);
}

.history .text-wrapper-9 {
    position: absolute;
    width: 627px;
    top: 33px;
    left: 403px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #224424;
    font-size: 30px;
    text-align: center;
}

button {
    margin: 15px 10px;
}

#closeDialog {
    font-size: 20px;
    color: #D92D20;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#closeDialog:hover {
    color: #A56BE0;
}

#renameDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDEAEA;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
    border-radius: 30px;
}

#renameDialog label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20x;
    margin-left: -120px;
}

#renameDialog input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#renameDialog button {
    padding: 10px 15px;
    background-color: #7F56D9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#renameDialog button:hover {
    background-color: #A56BE0;
}

#deleteDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDEAEA;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
    border-radius: 30px;
}

#deleteDialog h2 {
    font-weight: 600;
    margin-left: -130px;
    font-size: 20px;
    font-weight: 700;
}

#deleteDialog p {
    font-size: 15px;
}

#deleteDialog button {
    padding: 10px 15px;
    background-color: #7F56D9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteDialog button:hover {
    background-color: #A56BE0;
}

#deleteDialog #confirmDelete {
    background-color: #D92D20;
}

#deleteDialog #cancelDelete {
    background-color: #888;
}

.footer {
    position: absolute;
    width: 100%;
    height: 95px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
            to right,
            rgba(225, 255, 187, 1) 48%,
            rgba(0, 153, 144, 1) 96%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #224424;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.branding {
    position: absolute;
    width: 363px;
    height: 139px;
    top: 127px;
    left: 475px;
}

.brand-logo {
    position: absolute;
    width: 250px;
    height: 112px;
    top: 0;
    left: 113px;
}

.brand-arrow {
    position: absolute;
    width: 127px;
    height: 113px;
    top: 26px;
    left: 0;
}

.user-info {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.user-greeting {
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logout-icon {
    width: 76px;
    height: 76px;
    object-fit: cover;
}

.filter-container {
    background-color: transparent;
    padding: 15px 20px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    left: 150px;
    top: 170px;
    position: relative;
    width: 100%;
    margin: 20px auto;
    border-radius: 12px;
    justify-content: center;
}

.filter-container label {
    font-weight: 500;
    margin-right: 5px;
}

.filter-container input[type="date"],
.filter-container input[type="text"] {
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
}

.filter-container input[type="checkbox"] {
    margin-right: 5px;
}

.filter-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.filter-container .filter-btn {
    background-color: #009990;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-container .filter-btn:hover {
    background-color: #007777;
}